In [1]:
import pandas as pd
import numpy as np

In [56]:
df=pd.read_csv(r"C:\Users\y20cs99\Downloads\movies_1_.csv")
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328,12506188,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [57]:
a=df[df['Release Date'].str.contains('TBD')]
l=a.index.to_list()
print(l)
df.drop(l,axis=0)

[267, 571, 824, 1339, 1377, 1891, 2007]

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328,12506188,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [58]:
df.iloc[267,5]

'TBD'

In [59]:

import copy
l=df[df['Release Date'].str.contains(', ')].index.tolist()
print(l)

for i in l:
    s=copy.deepcopy(df.iloc[i,5])
    df.iloc[i,5]=('1'+'-'+s.strip()[0:3]+'-'+s.strip()[-2:])

[70, 265, 583, 876]

In [60]:
print(df.iloc[70,5])
print(df.iloc[265,5])
print(df.iloc[583,5])
print(df.iloc[876,5])
print(df.iloc[38,5])
print(df.iloc[1605,5])

1-Mar-87
1-Jun-79
1-Apr-86
1-Apr-65
1963
2006

In [61]:
l=df[df['Release Date'].str.contains('^\d{4}$')].index.tolist()
for i in l:
    df.iloc[i,5]='1'+'-'+'jan'+'-'+df.iloc[i,5].strip()[-2:]
print(l)

[38, 51, 55, 60, 69, 93, 105, 107, 114, 115, 141, 153, 198, 201, 210, 213, 216, 258, 269, 282, 285, 292, 294, 301, 383, 404, 413, 453, 462, 486, 500, 520, 530, 541, 548, 550, 572, 574, 582, 599, 613, 623, 626, 630, 653, 661, 663, 698, 710, 754, 768, 791, 834, 878, 884, 914, 919, 920, 926, 939, 951, 977, 1004, 1034, 1050, 1605]

In [62]:
print(df.iloc[38,5])
print(df.iloc[1605,5])

1-jan-63
1-jan-06

In [122]:
for i in l:
    print(df.iloc[i,5])

1-jan-63
1-jan-38
1-jan-87
1-jan-60
1-jan-75
1-jan-73
1-jan-91
1-jan-76
1-jan-29
1-jan-40
1-jan-44
1-jan-78
1-jan-78
1-jan-72
1-jan-78
1-jan-42
1-jan-80
1-jan-63
1-jan-79
1-jan-93
1-jan-54
1-jan-71
1-jan-77
1-jan-57
1-jan-47
1-jan-30
1-jan-52
1-jan-46
1-jan-67
1-jan-91
1-jan-77
1-jan-80
1-jan-60
1-jan-56
1-jan-45
1-jan-76
1-jan-31
1-jan-80
1-jan-56
1-jan-70
1-jan-04
1-jan-39
1-jan-61
1-jan-79
1-jan-59
1-jan-46
1-jan-93
1-jan-61
1-jan-48
1-jan-40
1-jan-48
1-jan-81
1-jan-68
1-jan-91
1-jan-45
1-jan-08
1-jan-69
1-jan-49
1-jan-49
1-jan-80
1-jan-34
1-jan-56
1-jan-45
1-jan-56
1-jan-38
1-jan-06

In [63]:
a=df[df['Release Date'].str.contains('TBD')]
l=a.index.to_list()
print(l)
df.drop(l,axis=0,inplace=True)

[267, 571, 824, 1339, 1377, 1891, 2007]

In [51]:
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328,12506188,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [68]:
y=list(pd.to_datetime(df['Release Date'],yearfirst=False))
y

[Timestamp('1998-06-12 00:00:00'),
 Timestamp('1998-08-07 00:00:00'),
 Timestamp('1998-08-28 00:00:00'),
 Timestamp('1998-09-11 00:00:00'),
 Timestamp('1998-10-09 00:00:00'),
 Timestamp('1999-01-15 00:00:00'),
 Timestamp('1999-04-04 00:00:00'),
 Timestamp('1999-04-09 00:00:00'),
 Timestamp('1986-07-01 00:00:00'),
 Timestamp('2046-12-31 00:00:00'),
 Timestamp('2063-10-07 00:00:00'),
 Timestamp('2068-12-11 00:00:00'),
 Timestamp('2062-12-25 00:00:00'),
 Timestamp('2070-09-23 00:00:00'),
 Timestamp('1987-03-01 00:00:00'),
 Timestamp('2020-09-17 00:00:00'),
 Timestamp('2044-08-01 00:00:00'),
 Timestamp('2070-01-01 00:00:00'),
 Timestamp('2056-10-05 00:00:00'),
 Timestamp('2057-04-13 00:00:00'),
 Timestamp('1995-12-27 00:00:00'),
 Timestamp('2072-11-09 00:00:00'),
 Timestamp('1979-12-14 00:00:00'),
 Timestamp('2007-06-29 00:00:00'),
 Timestamp('2068-04-02 00:00:00'),
 Timestamp('2054-12-23 00:00:00'),
 Timestamp('2016-12-24 00:00:00'),
 Timestamp('1998-04-15 00:00:00'),
 Timestamp('1999-07-30 00:00:00'),
 Timestamp('2008-04-03 00:00:00'),
 Timestamp('1987-11-25 00:00:00'),
 Timestamp('1994-05-06 00:00:00'),
 Timestamp('2005-09-28 00:00:00'),
 Timestamp('2033-03-09 00:00:00'),
 Timestamp('1995-12-25 00:00:00'),
 Timestamp('1981-05-22 00:00:00'),
 Timestamp('1994-03-09 00:00:00'),
 Timestamp('2006-10-18 00:00:00'),
 Timestamp('2063-01-01 00:00:00'),
 Timestamp('1986-02-21 00:00:00'),
 Timestamp('2008-07-04 00:00:00'),
 Timestamp('1989-08-09 00:00:00'),
 Timestamp('1988-02-12 00:00:00'),
 Timestamp('1994-02-04 00:00:00'),
 Timestamp('1995-11-10 00:00:00'),
 Timestamp('1986-03-27 00:00:00'),
 Timestamp('1999-03-26 00:00:00'),
 Timestamp('2050-05-17 00:00:00'),
 Timestamp('2051-07-28 00:00:00'),
 Timestamp('1995-08-25 00:00:00'),
 Timestamp('2060-10-24 00:00:00'),
 Timestamp('2038-01-01 00:00:00'),
 Timestamp('1993-01-15 00:00:00'),
 Timestamp('2003-01-24 00:00:00'),
 Timestamp('1973-08-11 00:00:00'),
 Timestamp('1987-01-01 00:00:00'),
 Timestamp('1995-11-17 00:00:00'),
 Timestamp('1977-04-20 00:00:00'),
 Timestamp('2000-09-08 00:00:00'),
 Timestamp('1993-04-02 00:00:00'),
 Timestamp('2060-01-01 00:00:00'),
 Timestamp('1979-08-15 00:00:00'),
 Timestamp('1990-07-18 00:00:00'),
 Timestamp('2007-12-25 00:00:00'),
 Timestamp('2007-10-19 00:00:00'),
 Timestamp('2071-01-01 00:00:00'),
 Timestamp('2007-06-01 00:00:00'),
 Timestamp('2056-10-17 00:00:00'),
 Timestamp('2068-10-10 00:00:00'),
 Timestamp('1975-01-01 00:00:00'),
 Timestamp('1987-03-01 00:00:00'),
 Timestamp('1995-08-04 00:00:00'),
 Timestamp('2006-03-24 00:00:00'),
 Timestamp('1994-07-01 00:00:00'),
 Timestamp('1993-04-16 00:00:00'),
 Timestamp('2006-08-04 00:00:00'),
 Timestamp('1985-07-03 00:00:00'),
 Timestamp('1989-11-22 00:00:00'),
 Timestamp('1990-05-24 00:00:00'),
 Timestamp('2069-10-24 00:00:00'),
 Timestamp('1995-04-07 00:00:00'),
 Timestamp('1984-10-26 00:00:00'),
 Timestamp('2053-06-13 00:00:00'),
 Timestamp('1991-08-30 00:00:00'),
 Timestamp('1982-08-20 00:00:00'),
 Timestamp('2025-12-30 00:00:00'),
 Timestamp('2059-11-18 00:00:00'),
 Timestamp('1974-11-15 00:00:00'),
 Timestamp('1995-01-27 00:00:00'),
 Timestamp('1991-11-13 00:00:00'),
 Timestamp('2046-11-21 00:00:00'),
 Timestamp('1983-08-19 00:00:00'),
 Timestamp('2005-09-30 00:00:00'),
 Timestamp('1973-01-01 00:00:00'),
 Timestamp('2009-12-31 00:00:00'),
 Timestamp('1996-09-06 00:00:00'),
 Timestamp('1984-12-05 00:00:00'),
 Timestamp('1987-05-20 00:00:00'),
 Timestamp('1994-05-25 00:00:00'),
 Timestamp('1979-12-21 00:00:00'),
 Timestamp('2008-07-10 00:00:00'),
 Timestamp('1988-06-03 00:00:00'),
 Timestamp('2025-01-01 00:00:00'),
 Timestamp('1991-07-12 00:00:00'),
 Timestamp('2003-09-12 00:00:00'),
 Timestamp('1991-01-01 00:00:00'),
 Timestamp('1988-04-01 00:00:00'),
 Timestamp('1976-01-01 00:00:00'),
 Timestamp('2004-02-20 00:00:00'),
 Timestamp('1982-06-25 00:00:00'),
 Timestamp('1988-02-26 00:00:00'),
 Timestamp('1980-06-20 00:00:00'),
 Timestamp('1981-07-24 00:00:00'),
 Timestamp('2005-07-01 00:00:00'),
 Timestamp('2029-01-01 00:00:00'),
 Timestamp('2040-01-01 00:00:00'),
 Timestamp('1996-10-04 00:00:00'),
 Timestamp('1996-04-01 00:00:00'),
 Timestamp('2071-04-28 00:00:00'),
 Timestamp('1991-07-19 00:00:00'),
 Timestamp('2015-02-08 00:00:00'),
 Timestamp('2070-05-13 00:00:00'),
 Timestamp('1990-02-23 00:00:00'),
 Timestamp('2006-06-30 00:00:00'),
 Timestamp('1992-07-01 00:00:00'),
 Timestamp('2057-12-18 00:00:00'),
 Timestamp('1989-12-20 00:00:00'),
 Timestamp('1996-08-09 00:00:00'),
 Timestamp('1989-09-22 00:00:00'),
 Timestamp('1996-02-21 00:00:00'),
 Timestamp('1993-02-12 00:00:00'),
 Timestamp('1995-06-02 00:00:00'),
 Timestamp('1995-08-09 00:00:00'),
 Timestamp('1992-11-13 00:00:00'),
 Timestamp('1996-02-09 00:00:00'),
 Timestamp('1983-09-30 00:00:00'),
 Timestamp('1995-05-24 00:00:00'),
 Timestamp('2006-02-01 00:00:00'),
 Timestamp('1985-12-18 00:00:00'),
 Timestamp('1974-01-01 00:00:00'),
 Timestamp('2000-05-05 00:00:00'),
 Timestamp('2044-01-01 00:00:00'),
 Timestamp('1989-02-17 00:00:00'),
 Timestamp('1977-06-15 00:00:00'),
 Timestamp('1988-03-30 00:00:00'),
 Timestamp('1992-06-18 00:00:00'),
 Timestamp('1995-06-16 00:00:00'),
 Timestamp('2001-08-21 00:00:00'),
 Timestamp('1989-06-23 00:00:00'),
 Timestamp('1992-07-31 00:00:00'),
 Timestamp('2008-07-25 00:00:00'),
 Timestamp('2070-01-01 00:00:00'),
 Timestamp('1999-07-02 00:00:00'),
 Timestamp('1978-01-01 00:00:00'),
 Timestamp('2002-05-10 00:00:00'),
 Timestamp('1980-07-25 00:00:00'),
 Timestamp('1991-11-15 00:00:00'),
 Timestamp('1994-08-03 00:00:00'),
 Timestamp('1976-11-16 00:00:00'),
 Timestamp('2067-04-28 00:00:00'),
 Timestamp('2004-07-16 00:00:00'),
 Timestamp('1984-12-14 00:00:00'),
 Timestamp('2002-08-23 00:00:00'),
 Timestamp('1977-11-16 00:00:00'),
 Timestamp('1996-06-14 00:00:00'),
 Timestamp('2005-09-16 00:00:00'),
 Timestamp('1988-11-09 00:00:00'),
 Timestamp('1990-11-09 00:00:00'),
 Timestamp('1996-08-02 00:00:00'),
 Timestamp('2002-09-27 00:00:00'),
 Timestamp('1981-09-25 00:00:00'),
 Timestamp('1983-11-18 00:00:00'),
 Timestamp('2058-09-20 00:00:00'),
 Timestamp('1984-08-31 00:00:00'),
 Timestamp('2036-10-20 00:00:00'),
 Timestamp('1994-05-13 00:00:00'),
 Timestamp('1998-10-09 00:00:00'),
 Timestamp('2063-06-12 00:00:00'),
 Timestamp('1993-05-28 00:00:00'),
 Timestamp('2005-10-21 00:00:00'),
 Timestamp('1994-07-20 00:00:00'),
 Timestamp('2002-03-01 00:00:00'),
 Timestamp('1995-07-01 00:00:00'),
 Timestamp('1985-12-18 00:00:00'),
 Timestamp('1994-10-19 00:00:00'),
 Timestamp('1998-11-20 00:00:00'),
 Timestamp('1981-06-12 00:00:00'),
 Timestamp('1998-05-15 00:00:00'),
 Timestamp('1985-10-04 00:00:00'),
 Timestamp('1986-10-17 00:00:00'),
 Timestamp('2050-02-15 00:00:00'),
 Timestamp('1995-06-09 00:00:00'),
 Timestamp('1982-05-14 00:00:00'),
 Timestamp('1984-06-29 00:00:00'),
 Timestamp('1982-08-20 00:00:00'),
 Timestamp('1986-01-17 00:00:00'),
 Timestamp('2006-07-21 00:00:00'),
 Timestamp('1999-01-22 00:00:00'),
 Timestamp('1978-01-01 00:00:00'),
 Timestamp('2009-11-17 00:00:00'),
 Timestamp('1993-10-01 00:00:00'),
 Timestamp('2072-01-01 00:00:00'),
 Timestamp('2001-07-06 00:00:00'),
 Timestamp('1986-09-26 00:00:00'),
 Timestamp('2001-03-09 00:00:00'),
 Timestamp('1998-03-27 00:00:00'),
 Timestamp('1982-11-10 00:00:00'),
 Timestamp('1987-05-01 00:00:00'),
 Timestamp('1992-11-25 00:00:00'),
 Timestamp('1995-05-12 00:00:00'),
 Timestamp('1978-01-01 00:00:00'),
 Timestamp('2009-12-31 00:00:00'),
 Timestamp('2006-06-30 00:00:00'),
 Timestamp('2042-01-01 00:00:00'),
 Timestamp('1995-11-22 00:00:00'),
 Timestamp('1995-05-26 00:00:00'),
 Timestamp('1980-01-01 00:00:00'),
 Timestamp('2070-06-24 00:00:00'),
 Timestamp('1996-02-16 00:00:00'),
 Timestamp('1995-12-22 00:00:00'),
 Timestamp('1998-08-14 00:00:00'),
 Timestamp('2042-11-16 00:00:00'),
 Timestamp('1996-07-12 00:00:00'),
 Timestamp('2069-05-28 00:00:00'),
 Timestamp('1974-04-07 00:00:00'),
 Timestamp('2006-05-26 00:00:00'),
 Timestamp('1995-10-27 00:00:00'),
 Timestamp('1990-09-28 00:00:00'),
 Timestamp('1982-02-10 00:00:00'),
 Timestamp('1995-08-25 00:00:00'),
 Timestamp('1994-12-16 00:00:00'),
 Timestamp('2071-12-17 00:00:00'),
 Timestamp('1993-04-23 00:00:00'),
 Timestamp('2005-10-13 00:00:00'),
 Timestamp('1997-02-07 00:00:00'),
 Timestamp('1996-12-06 00:00:00'),
 Timestamp('1990-06-15 00:00:00'),
 Timestamp('2004-02-27 00:00:00'),
 Timestamp('1979-04-20 00:00:00'),
 Timestamp('1991-11-22 00:00:00'),
 Timestamp('1992-07-31 00:00:00'),
 Timestamp('1985-03-15 00:00:00'),
 Timestamp('1989-06-02 00:00:00'),
 Timestamp('2003-03-04 00:00:00'),
 Timestamp('2072-06-30 00:00:00'),
 Timestamp('1983-10-21 00:00:00'),
 Timestamp('1990-07-03 00:00:00'),
 Timestamp('1995-05-19 00:00:00'),
 Timestamp('1996-05-31 00:00:00'),
 Timestamp('1988-07-15 00:00:00'),
 Timestamp('1982-04-02 00:00:00'),
 Timestamp('2005-09-23 00:00:00'),
 Timestamp('1995-04-07 00:00:00'),
 Timestamp('1995-01-13 00:00:00'),
 Timestamp('1977-10-21 00:00:00'),
 Timestamp('1995-12-29 00:00:00'),
 Timestamp('1990-11-09 00:00:00'),
 Timestamp('1988-12-21 00:00:00'),
 Timestamp('2063-01-01 00:00:00'),
 Timestamp('1991-10-25 00:00:00'),
 Timestamp('1991-08-09 00:00:00'),
 Timestamp('1991-03-01 00:00:00'),
 Timestamp('1985-07-03 00:00:00'),
 Timestamp('1990-06-27 00:00:00'),
 Timestamp('2003-05-14 00:00:00'),
 Timestamp('1979-06-01 00:00:00'),
 Timestamp('1975-04-01 00:00:00'),
 Timestamp('1998-01-16 00:00:00'),
 Timestamp('1979-01-01 00:00:00'),
 Timestamp('1981-06-26 00:00:00'),
 Timestamp('1989-12-13 00:00:00'),
 Timestamp('1980-01-01 00:00:00'),
 Timestamp('1989-06-30 00:00:00'),
 Timestamp('1984-12-14 00:00:00'),
 Timestamp('2008-02-15 00:00:00'),
 Timestamp('2003-03-21 00:00:00'),
 Timestamp('1997-06-20 00:00:00'),
 Timestamp('2065-12-22 00:00:00'),
 Timestamp('1983-04-15 00:00:00'),
 Timestamp('1987-03-13 00:00:00'),
 Timestamp('1993-02-19 00:00:00'),
 Timestamp('1993-01-01 00:00:00'),
 Timestamp('1990-12-07 00:00:00'),
 Timestamp('1994-09-30 00:00:00'),
 Timestamp('2054-01-01 00:00:00'),
 Timestamp('1996-12-06 00:00:00'),
 Timestamp('1980-10-03 00:00:00'),
 Timestamp('1996-08-02 00:00:00'),
 Timestamp('1980-05-21 00:00:00'),
 Timestamp('1981-07-10 00:00:00'),
 Timestamp('1996-08-09 00:00:00'),
 Timestamp('2071-01-01 00:00:00'),
 Timestamp('1996-06-21 00:00:00'),
 Timestamp('1977-01-01 00:00:00'),
 Timestamp('2072-08-11 00:00:00'),
 Timestamp('1982-06-11 00:00:00'),
 Timestamp('1993-05-14 00:00:00'),
 Timestamp('1977-06-17 00:00:00'),
 Timestamp('1994-09-23 00:00:00'),
 Timestamp('1978-12-22 00:00:00'),
 Timestamp('2057-01-01 00:00:00'),
 Timestamp('1987-09-18 00:00:00'),
 Timestamp('1976-04-09 00:00:00'),
 Timestamp('2004-12-10 00:00:00'),
 Timestamp('2006-03-17 00:00:00'),
 Timestamp('2071-10-09 00:00:00'),
 Timestamp('1996-01-19 00:00:00'),
 Timestamp('1980-05-09 00:00:00'),
 Timestamp('1982-08-13 00:00:00'),
 Timestamp('1984-04-13 00:00:00'),
 Timestamp('1985-03-22 00:00:00'),
 Timestamp('1986-08-01 00:00:00'),
 Timestamp('1988-05-13 00:00:00'),
 Timestamp('1989-07-28 00:00:00'),
 Timestamp('1993-08-13 00:00:00'),
 Timestamp('2067-05-10 00:00:00'),
 Timestamp('2067-01-18 00:00:00'),
 Timestamp('2064-01-01 00:00:00'),
 Timestamp('1981-04-30 00:00:00'),
 Timestamp('1996-04-05 00:00:00'),
 Timestamp('1995-11-03 00:00:00'),
 Timestamp('1992-12-11 00:00:00'),
 Timestamp('1993-08-06 00:00:00'),
 Timestamp('2053-08-05 00:00:00'),
 Timestamp('2005-07-15 00:00:00'),
 Timestamp('1998-05-01 00:00:00'),
 Timestamp('1978-04-13 00:00:00'),
 Timestamp('1983-04-15 00:00:00'),
 Timestamp('1996-07-19 00:00:00'),
 Timestamp('1980-12-05 00:00:00'),
 Timestamp('1994-05-27 00:00:00'),
 Timestamp('1991-01-18 00:00:00'),
 Timestamp('1990-08-10 00:00:00'),
 Timestamp('2003-10-10 00:00:00'),
 Timestamp('2005-04-29 00:00:00'),
 Timestamp('1996-11-01 00:00:00'),
 Timestamp('2040-11-13 00:00:00'),
 Timestamp('2000-01-01 00:00:00'),
 Timestamp('1980-02-01 00:00:00'),
 Timestamp('1994-07-06 00:00:00'),
 Timestamp('1993-09-03 00:00:00'),
 Timestamp('2071-01-01 00:00:00'),
 Timestamp('1974-12-17 00:00:00'),
 Timestamp('1982-10-22 00:00:00'),
 Timestamp('1995-04-26 00:00:00'),
 Timestamp('2004-12-10 00:00:00'),
 Timestamp('1982-06-18 00:00:00'),
 Timestamp('1996-03-08 00:00:00'),
 Timestamp('1995-07-07 00:00:00'),
 Timestamp('2064-04-08 00:00:00'),
 Timestamp('1993-06-30 00:00:00'),
 Timestamp('2072-06-21 00:00:00'),
 Timestamp('1984-02-17 00:00:00'),
 Timestamp('1982-08-13 00:00:00'),
 Timestamp('2005-05-06 00:00:00'),
 Timestamp('1996-09-20 00:00:00'),
 Timestamp('1996-03-22 00:00:00'),
 Timestamp('1981-06-26 00:00:00'),
 Timestamp('2000-09-08 00:00:00'),
 Timestamp('2006-04-28 00:00:00'),
 Timestamp('1996-10-11 00:00:00'),
 Timestamp('1981-08-28 00:00:00'),
 Timestamp('2001-03-16 00:00:00'),
 Timestamp('2067-12-29 00:00:00'),
 Timestamp('1981-05-01 00:00:00'),
 Timestamp('1974-12-11 00:00:00'),
 Timestamp('1990-12-25 00:00:00'),
 Timestamp('1990-09-19 00:00:00'),
 Timestamp('2072-03-15 00:00:00'),
 Timestamp('2000-03-10 00:00:00'),
 Timestamp('2063-08-08 00:00:00'),
 Timestamp('2005-01-21 00:00:00'),
 Timestamp('1990-07-13 00:00:00'),
 Timestamp('1984-06-08 00:00:00'),
 Timestamp('1996-03-22 00:00:00'),
 Timestamp('1995-11-17 00:00:00'),
 Timestamp('1996-10-04 00:00:00'),
 Timestamp('1989-12-14 00:00:00'),
 Timestamp('1999-08-04 00:00:00'),
 Timestamp('1987-12-23 00:00:00'),
 Timestamp('1982-12-08 00:00:00'),
 Timestamp('2043-12-24 00:00:00'),
 Timestamp('2047-01-01 00:00:00'),
 Timestamp('2007-12-14 00:00:00'),
 Timestamp('1996-10-16 00:00:00'),
 Timestamp('1986-12-12 00:00:00'),
 Timestamp('2008-10-10 00:00:00'),
 Timestamp('2064-12-22 00:00:00'),
 Timestamp('1993-02-12 00:00:00'),
 Timestamp('1984-06-08 00:00:00'),
 Timestamp('1999-04-30 00:00:00'),
 Timestamp('1990-06-15 00:00:00'),
 Timestamp('2065-02-15 00:00:00'),
 Timestamp('2003-09-26 00:00:00'),
 Timestamp('2052-01-10 00:00:00'),
 Timestamp('1979-02-02 00:00:00'),
 Timestamp('1995-10-20 00:00:00'),
 Timestamp('1993-10-08 00:00:00'),
 Timestamp('2004-09-24 00:00:00'),
 Timestamp('2039-12-15 00:00:00'),
 Timestamp('1998-10-16 00:00:00'),
 Timestamp('1991-08-23 00:00:00'),
 Timestamp('1981-08-07 00:00:00'),
 Timestamp('2030-01-01 00:00:00'),
 Timestamp('1981-12-18 00:00:00'),
 Timestamp('2005-03-18 00:00:00'),
 Timestamp('2068-08-03 00:00:00'),
 Timestamp('1987-09-18 00:00:00'),
 Timestamp('1992-10-02 00:00:00'),
 Timestamp('1995-01-27 00:00:00'),
 Timestamp('1986-03-07 00:00:00'),
 Timestamp('2041-10-28 00:00:00'),
 Timestamp('2052-01-01 00:00:00'),
 Timestamp('1981-06-12 00:00:00'),
 Timestamp('2069-12-16 00:00:00'),
 Timestamp('1981-10-30 00:00:00'),
 Timestamp('1982-10-22 00:00:00'),
 Timestamp('1988-10-01 00:00:00'),
 Timestamp('1989-10-13 00:00:00'),
 Timestamp('1995-09-29 00:00:00'),
 Timestamp('1978-10-17 00:00:00'),
 Timestamp('1992-11-20 00:00:00'),
 Timestamp('1990-11-16 00:00:00'),
 Timestamp('1980-05-16 00:00:00'),
 Timestamp('2000-05-26 00:00:00'),
 Timestamp('1984-03-09 00:00:00'),
 Timestamp('1989-11-08 00:00:00'),
 Timestamp('2010-04-30 00:00:00'),
 Timestamp('1991-12-11 00:00:00'),
 Timestamp('1991-10-23 00:00:00'),
 Timestamp('1993-07-16 00:00:00'),
 Timestamp('1981-04-10 00:00:00'),
 Timestamp('2072-01-01 00:00:00'),
 Timestamp('1994-10-14 00:00:00'),
 Timestamp('1996-02-16 00:00:00'),
 Timestamp('1994-03-11 00:00:00'),
 Timestamp('2064-08-11 00:00:00'),
 Timestamp('2008-10-24 00:00:00'),
 Timestamp('1990-03-02 00:00:00'),
 Timestamp('2066-02-23 00:00:00'),
 Timestamp('1996-07-10 00:00:00'),
 Timestamp('1996-04-19 00:00:00'),
 Timestamp('2061-09-25 00:00:00'),
 Timestamp('2063-05-29 00:00:00'),
 Timestamp('1991-05-24 00:00:00'),
 Timestamp('1980-11-19 00:00:00'),
 Timestamp('1998-06-19 00:00:00'),
 Timestamp('2053-04-10 00:00:00'),
 Timestamp('2066-10-10 00:00:00'),
 Timestamp('1986-08-01 00:00:00'),
 Timestamp('1977-12-23 00:00:00'),
 Timestamp('2002-05-10 00:00:00'),
 Timestamp('2046-01-01 00:00:00'),
 Timestamp('1984-03-16 00:00:00'),
 Timestamp('1996-07-02 00:00:00'),
 Timestamp('1996-08-23 00:00:00'),
 Timestamp('2006-09-08 00:00:00'),
 Timestamp('2006-04-21 00:00:00'),
 Timestamp('1995-07-14 00:00:00'),
 Timestamp('1998-02-20 00:00:00'),
 Timestamp('1999-08-06 00:00:00'),
 Timestamp('2067-01-01 00:00:00'),
 Timestamp('1997-08-01 00:00:00'),
 Timestamp('1994-04-22 00:00:00'),
 Timestamp('1986-06-06 00:00:00'),
 Timestamp('2004-04-23 00:00:00'),
 Timestamp('2016-09-05 00:00:00'),
 Timestamp('1980-06-13 00:00:00'),
 Timestamp('2002-09-20 00:00:00'),
 Timestamp('2067-08-02 00:00:00'),
 Timestamp('1996-08-09 00:00:00'),
 Timestamp('1995-10-13 00:00:00'),
 Timestamp('1996-11-22 00:00:00'),
 Timestamp('2063-05-08 00:00:00'),
 Timestamp('1994-12-25 00:00:00'),
 Timestamp('1995-06-30 00:00:00'),
 Timestamp('1995-02-03 00:00:00'),
 Timestamp('1995-03-31 00:00:00'),
 Timestamp('1991-12-20 00:00:00'),
 Timestamp('2007-03-23 00:00:00'),
 Timestamp('1982-08-27 00:00:00'),
 Timestamp('1995-12-15 00:00:00'),
 Timestamp('1996-02-02 00:00:00'),
 Timestamp('2010-06-11 00:00:00'),
 Timestamp('1993-06-10 00:00:00'),
 Timestamp('1991-01-01 00:00:00'),
 Timestamp('1975-06-20 00:00:00'),
 Timestamp('1978-06-16 00:00:00'),
 Timestamp('1987-07-17 00:00:00'),
 Timestamp('2006-08-11 00:00:00'),
 Timestamp('1989-09-08 00:00:00'),
 Timestamp('1995-07-21 00:00:00'),
 Timestamp('1996-07-26 00:00:00'),
 Timestamp('1990-12-21 00:00:00'),
 Timestamp('2033-04-07 00:00:00'),
 Timestamp('1976-12-17 00:00:00'),
 Timestamp('1995-04-21 00:00:00'),
 Timestamp('2008-12-12 00:00:00'),
 Timestamp('2008-10-10 00:00:00'),
 Timestamp('1977-01-01 00:00:00'),
 Timestamp('2001-11-09 00:00:00'),
 Timestamp('2001-04-27 00:00:00'),
 Timestamp('1985-10-25 00:00:00'),
 Timestamp('2006-06-23 00:00:00'),
 Timestamp('1996-08-16 00:00:00'),
 Timestamp('1987-11-20 00:00:00'),
 Timestamp('1993-06-18 00:00:00'),
 Timestamp('1973-06-27 00:00:00'),
 Timestamp('2006-09-01 00:00:00'),
 Timestamp('2002-04-05 00:00:00'),
 Timestamp('1998-09-25 00:00:00'),
 Timestamp('1988-11-18 00:00:00'),
 Timestamp('2062-10-04 00:00:00'),
 Timestamp('1987-07-31 00:00:00'),
 Timestamp('1992-11-11 00:00:00'),
 Timestamp('1994-11-23 00:00:00'),
 Timestamp('1998-03-06 00:00:00'),
 Timestamp('1985-04-12 00:00:00'),
 Timestamp('1991-03-08 00:00:00'),
 Timestamp('1980-01-01 00:00:00'),
 Timestamp('1986-06-18 00:00:00'),
 Timestamp('1986-04-18 00:00:00'),
 Timestamp('2072-08-30 00:00:00'),
 Timestamp('1985-06-21 00:00:00'),
 Timestamp('1988-04-22 00:00:00'),
 Timestamp('1996-10-11 00:00:00'),
 Timestamp('2007-10-03 00:00:00'),
 Timestamp('2002-05-29 00:00:00'),
 Timestamp('2062-01-01 00:00:00'),
 Timestamp('2060-01-01 00:00:00'),
 Timestamp('1993-02-26 00:00:00'),
 Timestamp('1996-09-20 00:00:00'),
 Timestamp('1986-07-18 00:00:00'),
 Timestamp('1992-05-22 00:00:00'),
 Timestamp('1994-06-15 00:00:00'),
 Timestamp('1975-06-10 00:00:00'),
 Timestamp('1997-03-28 00:00:00'),
 Timestamp('1984-04-27 00:00:00'),
 Timestamp('1981-05-22 00:00:00'),
 Timestamp('1992-09-25 00:00:00'),
 Timestamp('2056-01-01 00:00:00'),
 Timestamp('1980-05-16 00:00:00'),
 Timestamp('1983-04-08 00:00:00'),
 Timestamp('1999-05-28 00:00:00'),
 Timestamp('1994-12-23 00:00:00'),
 Timestamp('1992-07-01 00:00:00'),
 Timestamp('1993-02-05 00:00:00'),
 Timestamp('2045-01-01 00:00:00'),
 Timestamp('2010-02-19 00:00:00'),
 Timestamp('1976-01-01 00:00:00'),
 Timestamp('2002-09-13 00:00:00'),
 Timestamp('1992-09-21 00:00:00'),
 Timestamp('1986-12-19 00:00:00'),
 Timestamp('1996-06-21 00:00:00'),
 Timestamp('2004-01-30 00:00:00'),
 Timestamp('1987-03-06 00:00:00'),
 Timestamp('1992-05-15 00:00:00'),
 Timestamp('1997-06-20 00:00:00'),
 Timestamp('1998-12-04 00:00:00'),
 Timestamp('1988-08-12 00:00:00'),
 Timestamp('1989-07-14 00:00:00'),
 Timestamp('2007-07-18 00:00:00'),
 Timestamp('1995-10-27 00:00:00'),
 Timestamp('1992-03-06 00:00:00'),
 Timestamp('1983-04-15 00:00:00'),
 Timestamp('1994-12-21 00:00:00'),
 Timestamp('2062-12-16 00:00:00'),
 Timestamp('1993-05-26 00:00:00'),
 Timestamp('1993-05-07 00:00:00'),
 Timestamp('2065-04-07 00:00:00'),
 Timestamp('2031-01-01 00:00:00'),