In [4]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

In [12]:
df=pd.read_csv(r"C:\Users\y20cs99\Downloads\movies_1_.csv")
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328,12506188,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [13]:
a=df[df['Release Date'].str.contains('TBD')]
l=a.index.to_list()
print(l)
df.drop(l,axis=0,inplace=True)

[267, 571, 824, 1339, 1377, 1891, 2007]

In [14]:
for i in range(len(df)):
    df.iloc[i,5]=parse(df.iloc[i,5])

In [16]:
df['Release Date']

datetime.datetime(2046, 12, 31, 0, 0)

In [17]:
df['Release Date']=pd.to_datetime(df['Release Date'])
print(df['Release Date'])
df['year']=df['Release Date'].dt.year
df['month']=df['Release Date'].dt.month
df['day']=df['Release Date'].dt.day
df

0      1998-06-12
1      1998-08-07
2      1998-08-28
3      1998-09-11
4      1998-10-09
          ...
3196   2008-10-31
3197   2007-03-02
3198   2006-08-11
3199   2005-10-28
3200   1998-07-17
Name: Release Date, Length: 3194, dtype: datetime64[ns]

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes,year,month,day
0,The Land Girls,146083,146083,NaN,8000000.0,1998-06-12,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0,1998,6,12
1,"First Love, Last Rites",10876,10876,NaN,300000.0,1998-08-07,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0,1998,8,7
2,I Married a Strange Person,203134,203134,NaN,250000.0,1998-08-28,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0,1998,8,28
3,Let's Talk About Sex,373615,373615,NaN,300000.0,1998-09-11,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN,1998,9,11
4,Slam,1009819,1087521,NaN,1000000.0,1998-10-09,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0,1998,10,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,2008-10-31,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0,2008,10,31
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2007-03-02,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN,2007,3,2
3198,Zoom,11989328,12506188,6679409.0,35000000.0,2006-08-11,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0,2006,8,11
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,2005-10-28,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0,2005,10,28
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,1998-07-17,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0,1998,7,17

In [18]:
dg=df.groupby('year')
dg.get_group(1995).groupby('month')['Title'].count()

month
1      3
2      2
3      3
4      5
5      6
6      7
7      8
8      7
9      4
10     8
11     7
12    13
Name: Title, dtype: int64

In [29]:
df2=df[(df['year']>=1990) & (df['year']<=1998)]
dg=df2.groupby('year')['Title'].count()
dg

year
1990     28
1991     33
1992     28
1993     39
1994     52
1995     73
1996     99
1997     97
1998    144
Name: Title, dtype: int64

In [31]:
#Find no. of movies released under each genre given in the database
dg=df.groupby('Major Genre')['Title'].count()
dg

Major Genre
Action                 420
Adventure              274
Black Comedy            36
Comedy                 675
Concert/Performance      5
Documentary             43
Drama                  789
Horror                 219
Musical                 53
Romantic Comedy        137
Thriller/Suspense      239
Western                 36
Name: Title, dtype: int64

In [35]:
#Find the movies under each genre with 1MDB rating >7 and rotten tomatoes rating > 60.
df3=df[(df['IMDB Rating']>7) & (df['Rotten Tomatoes Rating']>60)]
dg=df3.groupby('Major Genre')['Title'].count()
dg

Major Genre
Action                68
Adventure             52
Black Comedy           8
Comedy                79
Documentary           18
Drama                226
Horror                15
Musical               14
Romantic Comedy       14
Thriller/Suspense     39
Western                9
Name: Title, dtype: int64

In [48]:
#Find the movies released under each fiction with each director in the ascending order of release dates.
df3=df.sort_values(by='Release Date', ascending=True)
dg=df3.groupby(by=['Creative Type','Director'])['Title'].unique()
dg

Creative Type         Director
Contemporary Fiction  Adam McKay                [Talladega Nights: The Ballad of Ricky Bobby]
                      Adam Shankman         [The Wedding Planner, A Walk to Remember, Brin...
                      Adrian Lyne           [Flashdance, Nine 1/2 Weeks, Fatal Attraction,...
                      Adrienne Shelly                                              [Waitress]
                      Alan Alda                                            [The Four Seasons]
                                                                  ...
Super Hero            Stephen Norrington       [Blade, The League of Extraordinary Gentlemen]
                      Tim Burton                                     [Batman, Batman Returns]
                      Tim Story             [Fantastic Four, Fantastic Four: Rise of the S...
                      Warren Beatty                                              [Dick Tracy]
                      Zack Snyder                                                  [Watchmen]
Name: Title, Length: 923, dtype: object

In [49]:
#Find movies released under each distributor in the order of genre and director
df4=df.sort_values(by=['Major Genre','Director'])
dg=df4.groupby(by=['Distributor'])['Title'].unique()
dg

Distributor
20th Century Fox               [I, Robot, Chain Reaction, X-Men: The Last Sta...
3D Entertainment                    [Dolphins and Whales Tribes of the Ocean 3D]
8X Entertainment                                         [Megiddo: Omega Code 2]
Access Motion Picture Group                                        [Dinner Rush]
AdLab Films                                                             [Krrish]
                                                     ...
Wolfe Releasing                                                        [Show Me]
Women Make Movies                                               [Sisters in Law]
Yari Film Group Releasing                                      [The Illusionist]
Yash Raj Films                 [Ta Ra Rum Pum, Kabhi Alvida Naa Kehna, Neal n...
Zeitgeist                      [Travellers and Magicians, AimÃˆe & Jaguar, Now...
Name: Title, Length: 173, dtype: object

In [52]:
#Find the movies released world-wide and find out the revenue received world-wide other than US with their ratings.
df[df['Worldwide Gross']!=0][['Title','Worldwide Gross','IMDB Rating']]

                           Title Worldwide Gross  IMDB Rating
0                 The Land Girls          146083          6.1
1         First Love, Last Rites           10876          6.9
2     I Married a Strange Person          203134          6.8
3           Let's Talk About Sex          373615          NaN
4                           Slam         1087521          3.4
...                          ...             ...          ...
3196  Zack and Miri Make a Porno        36851125          7.0
3197                      Zodiac        83080084          NaN
3198                        Zoom        12506188          3.4
3199         The Legend of Zorro       141475336          5.7
3200           The Mask of Zorro       233700000          6.7

[3194 rows x 3 columns]

In [65]:
#Find the movies with loss & profit released in each year with genre and ratings.
df['US Gross'].dropna(inplace=True)
df['Worldwide Gross'].dropna(inplace=True)
df['loss/profit']=(df['US Gross'].astype('int64')+df['Worldwide Gross'].astype('int64'))-df['Production Budget'].astype('int64')
dg=dict(list(df.groupby('year')))

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [60]:
l=df[df['US Gross'].str.contains('Unknown')].index
#m=df[df['Worldwide Gross']].str.contains('Unknown').index
df.drop(l,inplace=True)
#df.drop(m,inplace=True)

In [58]:
df.columns

Index(['Title', 'US Gross', 'Worldwide Gross', 'US DVD Sales',
       'Production Budget', 'Release Date', 'MPAA Rating',
       'Running Time (min)', 'Distributor', 'Source', 'Major Genre',
       'Creative Type', 'Director', 'Rotten Tomatoes Rating', 'IMDB Rating',
       'IMDB Votes', 'year', 'month', 'day'],
      dtype='object')